* {
  box-sizing: border-box;
}

body {
  margin: 0;
    padding: 0;
    background: url(../public/space.gif) no-repeat center center fixed;
    background-size: cover;
    
}

.deletebutton{
  margin-left: 10px
}

.reading {
  color: white
}

.error {
  color: red
}

.article-form{
  color: white;
  margin-left: 20%;
  margin-top: 90px;
}

.article-title{
  margin-right: 50%;
  padding-bottom: 15px;
}

.article-description{
  margin-right: 45%;
  padding-bottom: 25px;
}

.form {
  height: 200px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    color: white
}

.sign-up{
  color: white;
  height: 200px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: rgb(0, 0, 0);
  color: white;
  justify-content: space-between;
  padding: 3px;
  font-size: 20px;
}

.title {
  font-size: 2rem;
}

.welcome{
  color: white;
  font-size: 30px;
}

.nav ul {
  padding: 0;
  margin-left: 15%;
  margin-right: 15%;
  list-style: none;
  display: flex;
  gap: 100px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.news-img{
  text-align: center;
  display: block;
}

.news-img img{
  
  width: 220px;
  height: 160px;
}

/* blog card  */


.scene {
  width: 950px;
  display: flex;
  justify-content: space-between;
  perspective: 1000px;
    margin-left: auto;
    margin-right: auto
}

  .blogcard {
    position: relative;
    width: 240px;
    height: 300px;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
  }

     .blogcard:hover {
      transform: rotateY(0.5turn);
     }

    .card__face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: 1s ease-in-out;
      -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
    }
    img {
        width: 240px;
        height: 300px;
        object-fit: cover;
    }

      .card__face--back {
        transform: rotateY(0.5turn);
      }

      /* .card__face--front{

      } */
  
  

  /* homepage cards  */
    .grid {
      display: grid;
      grid-template-columns: repeat(4, 250px);
      grid-gap: 40px;
      align-items: stretch;
      margin-top: 10px;
      margin-left: 5%;
      margin-right: 5%;
    }
  
    .grid>article {
      border: 1px solid #ccc;
      box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
      color: white;
      font-size: 12px;
      background-color: rgb(22, 22, 22);
    }
  
    .grid>article img {
      width: 100%;
      margin: 0;
    }
  
    .text {
      padding: 0 20px 20px;
      font-size: 12px;
    }
    
    .title{
      font-size: 18px;
      margin-top: 2px;
      text-align: center;
    }
  
    .text>button {
      font-size: 12px;
      margin-bottom: 5px;
      margin-left: 5px;
    }

    .delete {
      margin-left: 120px;
    }

    /* reading list  */

        * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          font-family: "Open Sans";
        }

     .content-wrapper {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        flex-flow: row wrap;
         justify-content: center;
         padding: 0.5rem;
                }

.news-card {
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  /* height: $card-height-mobile; */
  overflow: hidden;
  border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
 
}

.news-card__text-wrapper:hover {
background-color: rgba(0, 0, 0, 0.6);
}

.news-card__title:hover{
  color: yellow;
}

.news-card__image:hover {
  transform: scale(1.2);
  z-index: -1;
}

.news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*     background: rgba(255,0,0,.5); */
}

.news-card__card-link {
      position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        /*     background: rgba(255,0,0,.5); */
      
}
 
.news-card__image {

    /* width: 100%;
      height: 100%; */
      display: block;
      object-fit: cover;
      transition: transform 3s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: relative;
      z-index: -1;
} 

.news-card__text-wrapper{
      position: absolute;
      bottom: 0rem;
      padding: 1rem;
      color: white;
      transition: background-color 1.5s ease;
}

.news-card__title {
  transition: color 1s ease;
  margin-bottom: .5rem;
}
  .news-card__post-date {
  font-size: .7rem;
  margin-bottom: .5rem;
  color: #CCC;
}

.news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
} 

.news-card__excerpt {
  font-weight: 300;
}

.news-card__read-more {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid #444;
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5; }

  .news-card__details-wrapper {
      max-height: 0;
      opacity: 0;
      transition: max-height 1.5s ease, opacity 1s ease;
    }

  .i {
    position: relative;
    left: 0.2rem;
    color: #888;
    transition: left 0.5s ease, color 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .i:hover {
    left: 0.5rem;
    color: yellow;
  }

.carousel img{
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
}
